<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
         
         <command
               categoryId="com.juuyi.commands.main"
               defaultHandler="org.pdulvp.data.appgen.site.command.PublishCategories"
               id="com.juuyi.commands.server.PublishCategories"
               name="Publish Categories">
         </command>
         
         <command
               categoryId="com.juuyi.commands.main"
               defaultHandler="org.pdulvp.data.appgen.site.command.PublishImages"
               id="com.juuyi.commands.server.PublishImages"
               name="Publish Images">
         </command>
         
         <command
               categoryId="com.juuyi.commands.main"
               defaultHandler="org.pdulvp.data.appgen.site.command.PublishScreens"
               id="com.juuyi.commands.server.PublishScreens"
               name="Publish Screens">
         </command>
          
         <command
               categoryId="com.juuyi.commands.main"
               defaultHandler="org.pdulvp.data.appgen.site.command.GenerateModelTables"
               id="com.juuyi.commands.server.GenerateModelTables"
               name="Generate Tables">
         </command>
         
         
         
       </extension>  
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
         allPopups="true"
         locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         
         
         <menu
               label="Server">
               
         <command commandId="com.juuyi.commands.server.PublishCategories">
         </command>
         <command commandId="com.juuyi.commands.server.PublishScreens">
         </command>
         <command commandId="com.juuyi.commands.server.GenerateModelTables">
         </command>
         <command commandId="com.juuyi.commands.server.PublishImages">
         </command>
         </menu>
       </menuContribution> 
       </extension> 
</plugin>
